.toggler.selected{
    border: 1px solid red;
}

.toggler {
    border: 1px solid #040404;
}

td {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.myTable {
    border-collapse: separate;
    white-space: nowrap;
}

.undefined{
    background-color:  gray;
}


.boardBtn{
    width: 32px;
    height: 32px;
}