#popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#popupBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    cursor: pointer;
}

#message {
    white-space: pre-wrap;
    cursor: default;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 4px;
    border: solid 2px #660033;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.boardMessage {
    height: auto;
    max-height: 80%;
    width: auto !important;
    max-width: 80%;
    overflow: auto;
}