.root{
    -fx-font-size: 12pt;
    -fx-background: rgb(255,193,193);
    -fx-background-opacity: 50%;
}


.topBtn{
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: mediumpurple;
    -fx-font-family: "Rockwell";
}

.downBtn{
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: darkred;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;

}

#quitBtn{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: indianred;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}


.background{
    -fx-background-color: rgb(227, 197, 236);
    -fx-border-color:rgb(181,157,188);
}







